  :root{
    --padding-default-1: min(10px, 5vw);
    --padding-default-2: min(20px, 10vw);
    
    --border-default-small-light: min(2px, 1vw) solid #ffffff22;
    --border-default-small-dark: min(2px, 1vw) solid #00000022;
    
    --border-default-big-light: min(4px, 2vw) solid #ffffff22;
    --border-default-big-dark: min(4px, 2vw) solid #ffffff44;
    
    --radious-default-1: min(10px, 5vw);
    --radious-default-2: min(20px, 10vw);
    --radious-default-3: min(40px, 20vw);
    
    --background-light-default-1: #ffffff22;
    --background-light-default-2: #ffffff44;
    --background-light-default-3: #ffffff66;
    
    --background-dark-default-1: #00000022;
    --background-dark-default-2: #00000044;
    --background-dark-default-3: #00000066;
  }
  
  main{
    width: 100vw;
    min-height: 100vh;
    
    display: grid;
    place-items: center;
    font-family: Custom1;
  }
  
  .background_glass::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  .background_glass::before{
    backdrop-filter: blur(5px);
  }
  
  .main_container{
    width: 100vw;
    min-height: 100vh;
    
    position: absolute;
    top: 0;
    left: 0;
    
    display: flex;
    flex-direction: column;
    gap: var(--padding-default-1);
  }
  
  .main_flex_child{
    width: 100vw;
    flex-grow: 0;
    flex-shrink: 0;
  }
  
  .main_nav_container{
    height: clamp(60px, 6vh, 80px);
    
    position: sticky;
    top: 0;
    left: 0;
    
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 5px;
    
    z-index: 2;
  }
  .main_nav_btn{
    --default-size: clamp(45px, 5vh, 80px);
    width: var(--default-size);
    height: var(--default-size);
    aspect-ratio: 1/1;
    
    display: grid;
    place-items: center;
    padding: 5px;
    
    transition: .25s ease-in-out;
  }
  .main_nav_btn:hover:focus{
    background: var(--background-light-default-2);
    border-radius: 50%;
  }
  .main_nav_btn_icon_container,
  .main_nav_btn_icon{
    width: 100%;
    height: 100%;
  }
  
  
  
  .main_banners_container{
    height: clamp(200px, 40vw, 300px);
    width: 100%;
    
    display: block;
    padding: var(--padding-default-1);
  }
  .main_banners_slider_container{
    width: 100%;
    height: 100%;
    border-radius: var(--radious-default-1);
    overflow-x: scroll;
    overflow-y: hidden;
    
    display: flex;
    flex-direction: row;
    scroll-snap-type: x mandatory;
  }
  .main_banner_wrapper{
    width: 100%;
    height: 100%;
    object-fit: cover;
    scroll-snap-align: center;
    scroll-snap-stop: always;
    
    aspect-ratio: 3/1;
  }
  .main_banner{
    width: 100%;
    height: 100%;
    max-width: 100%;
    mix-height: 100%;
  }
  
  
  
  
  .main_options_container{
    height: clamp(min(400px, 100%), 60vw, max(600px, 100%));
    display: flex;
    flex-direction: column;
    gap: var(--padding-default-2);
    padding: var(--padding-default-1);
  }
  
  .main_options_title,
  .main_options_wrapper{
    flex-grow: 0;
    flex-shrink: 0;
  }
  .main_options_wrapper{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    gap: 5px;
  }
  .main_option_container{
    width: 100%;
    height: 100px;
    border-radius: var(--radious-default-1);
    background: var(--background-dark-default-1);
    border: var(--border-default-small-light);
    text-decoration: none;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: var(--padding-default-1);
    transition: .25s ease-in-out;
  }
  .main_option_container:hover:focus{
    background: var(--background-light-default-2);
  }
  .main_option_icon_container,
  .main_option_title_container{
    display: grid;
    place-items: center;
  }
  .main_option_icon{
    width: min(50px, 35%);
  }
  .main_option_title{
    width: 100%;
    text-align: center;
    color: #fff;
    font-weight: bold;
  }