  main{
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    
    padding: min(50px, 10vw);
    
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  img{
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
  }
  
  :root{
    --blur-white-2: #ffffff22;
    --blur-black-2: #00000022;
  }
  
  
  #main_container{
    width: max(300px, 70vw);
    height: max(500px, 70vh);
    overflow-y: scroll;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: min(40px, 4vw);
  }
  
  #intro_container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #icon_container{
    width: max(100px, 15vh);
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 50%;
    border: 3px solid var(--blur-white-2);
  }
  
  #main_greating{
    font-family: cursive;
    font-weight: bold;
    font-size: max(25px, 5vw);
    text-align: center;
  }
  
  #auth_container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #input_container{
    width: 100%;
    height: max(300px, 30vh);
    overflow-y: scroll;
  }

  #btn_auth_google,
  #btn_auth_facebook,
  #btn_auth_apple{
    width: 100%;
    height: max(50px, 6vh);
    border: 3px solid var(--blur-white-2);
    border-radius: 10px;
    padding: 600px;
    overflow: hidden;
    
    padding: min(4px, 20%) min(12px, 40%);
    display: grid;
    grid-template-columns: 1fr 6fr;
    place-items: center;
    
    margin-bottom: max(5px, 1vh);
    
    font-weight: bold;
    font-size: max(15px, 2vw);
    text-align: left;
    background: var(--blur-black-2);
  }
  
  #btn_auth_google:focus,
  #btn_auth_facebook:focus,
  #btn_auth_apple:focus{
    background: var(--blur-white-2);
  }
  
  
  #terms_container{
    font-size: 75%;
    text-align: left;
  }